<template>
  <div class="container-explore">
    <explore-header />

    <div class="wrapper">
      <h1>Ciência da Computação</h1>
      <div class="subheader">
        <h2>{{ title }}</h2>
        <button @click="goBack" v-if="status !== 'Currículos'">Voltar</button>
      </div>

      <explore-list :title="status" :list="list" @get="getItem" />
    </div>
  </div>
</template>

<script>
import ExploreHeader from '@components/Header'
import ExploreList from '@components/explore/List'

import { mapState, mapActions } from 'vuex'

export default {
  components: { ExploreHeader, ExploreList },

  computed: {
    ...mapState([
      'curriculos',
      'curriculo',
      'trilhas',
      'trilha',
      'modulos',
      'modulo',
      'disciplinas',
      'disciplina',
      'status'
    ]),

    list () {
      if (this.status === 'Currículos') return this.curriculos
      if (this.status === 'Trilhas') return this.trilhas
      if (this.status === 'Módulos') return this.modulos
      if (this.status === 'Disciplinas') return this.disciplinas
      if (this.status === 'Disciplina') return this.disciplina
    },

    title () {
      if (this.status === 'Currículos')
        return 'Currículos'
      if (this.status === 'Trilhas')
        return `${this.nomeCurr} > Trilhas`
      if (this.status === 'Módulos')
        return `${this.nomeCurr} > ${this.nomeTri} > Módulos`
      if (this.status === 'Disciplinas')
        return `${this.nomeCurr} > ${this.nomeTri} > ${this.nomeMod} > Disciplinas`
      if (this.status === 'Disciplina')
        return `${this.nomeCurr} > ${this.nomeTri} > ${this.nomeMod} > ${this.nomeDisc}`
    },

    nomeCurr () {
      return this.curriculos.filter(({ id }) => id === this.curriculo)[0].nome
    },

    nomeTri () {
      return this.trilhas.filter(({ id }) => id === this.trilha)[0].nome
    },

    nomeMod () {
      return this.modulos.filter(({ id }) => id === this.modulo)[0].nome
    },

    nomeDisc () {
      return this.disciplinas.filter(({ id }) => id === this.disciplina)[0].nome
    }
  },

  methods: {
    ...mapActions({
      getCurriculos: 'curriculos',
      getCurriculo: 'curriculo',
      getTrilha: 'trilha',
      getModulo: 'modulo',
      getDisciplina: 'disciplina',
      goBack: 'backtrack'
    }),

    getItem (id) {
      if (this.status === 'Currículos') this.getCurriculo(id)
      if (this.status === 'Trilhas') this.getTrilha(id)
      if (this.status === 'Módulos') this.getModulo(id)
      if (this.status === 'Disciplinas') this.getDisciplina(id)
    }
  },

  created () {
    this.getCurriculos();
  }
}
</script>

<style lang="scss">
.container-explore {
  & > .wrapper {
    padding: 20px;

    & > h1 { font-size: 30px }

    & > .subheader {
      display: flex;
      justify-content: space-between;
      max-width: 800px;
      padding-top: 5px;
      padding-bottom: 20px;

      & > h2 { font-size: 18px }
    }
  }
}
</style>
