<template>
  <div class="home-container">
    <home-header />

    <home-description />    

    <home-list />
  </div>
</template>

<script>
import HomeHeader from '@components/Header'
import HomeDescription from '@components/home/Description'
import HomeList from '@components/home/List'

export default {
  components: { HomeHeader, HomeDescription, HomeList }  
}
</script>

<style lang="scss">
.home-container {
  height: 100%;
}
</style>
