<template>
  <div class="login-container">
    <login-form
      :fields="fields"
      :buttonText="buttonText"
      :options="options"
      @submit="data => $route.name === 'signin' ? signin(data) : signup(data)"
    />
  </div>
</template>

<script>
import LoginForm from '@components/Form'

import Fields from '@content/login/Forms'
import Options from '@content/login/Options'

import axios from 'axios'

export default {
  components: { LoginForm },

  computed: {
    fields () {
      return Fields[this.$route.name]
    },
    buttonText () {
      return Options[this.$route.name].button
    },
    options () {
      const login = this.$route.name === 'signin'
        ? Options.signup
        : Options.signin
      
      return { login, home: Options.home}
    }
  },

  methods: {
    async signin (data) {
      const { email, password } = data

      await axios
        .post('http://localhost:3000/login/entrar', { email, password })
        .then(res => {
          if (res.data) {
            this.$router.push({ name: 'user-home', params: { id: res.data } })
          }

          this.invalidCredentials = true
        })
    },

    async signup (data) {
      const { email, password } = data

      await axios
        .post('http://localhost:3000/login/cadastro', { email, password })
        .then(res => {
          if (res.data) {
            this.$router.push({ name: 'signup2', params: { id: res.data, email } })
          }
        })
    }
  }
}
</script>

<style lang="scss">
.login-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
</style>
