<template>
  <div class="registration-container">
    <div class="user-type">
      <p class="label">Escolha o perfil de usuário:</p>
      <select v-model="type">
        <option v-for="user in users" :key="user">{{ user }}</option>
      </select>
    </div>
    
    <registration-form
      :class="['form', { '-first': !type }, { '-show': delayedType === type }]"
      :fields="fields"
      :buttonText="buttonText"
      @submit="saveUser"
    />

    <registration-options :options="{ cancel: { content: 'Cancelar', path: '/' } }" />
  </div>
</template>

<script>
import RegistrationForm from '@components/Form'
import RegistrationOptions from '@components/Options'

import Fields from '@content/login/Forms'
import Options from '@content/login/Options'

import axios from 'axios'

export default {
  components: { RegistrationForm, RegistrationOptions },

  data () {
    return {
      type: 'Aluno',
      delayedType: 'Aluno'
    }
  },

  computed: {
    users () {
      return ['Aluno', 'Professor', 'Coordenador', 'Administrador'] 
    },
    fields () {
      const type = this.delayedType === 'Coordenador'
        ? 'professor'
        : this.delayedType.toLowerCase()

      return Fields.signup2[type]
    },
    buttonText () {
      return Options[this.$route.name].button
    }
  },

  methods: {
    async saveUser (data) {
      await axios
        .post(`http://localhost:3000/login/cadastro/${this.type.toLowerCase()}`, {
          ...data,
          id: this.$route.params.id,
          email: this.$route.params.email
        })
        .then(res => {
          this.$router.push({ name: 'user-home', params: { id: this.$route.params.id } })
        })
    }
  },

  watch: {
    type (newVal, oldVal) {
      const time = oldVal ? 400 : 300
      setTimeout(() => { this.delayedType = newVal }, time)
    }
  }
}
</script>

<style lang="scss">
.registration-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  & > .user-type {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 50px
  }

  & > .form {
    position: relative;
    top: -400px;
    margin-top: 0;
    opacity: 0;
    transition: top 1.8s, opacity .3s;

    &.-show {
      top: 0;
      opacity: 1;
      transition: top 1.2s, opacity 1.2s;
    }

    &.-first {
      opacity: 0;
    }
  }
}
</style>

