<template>
  <div class="user-home-container">
    Bem-vindo(a)!
    {{ user.type.toLowerCase() }}
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      user: {
        id: this.$route.params.id,
        type: ''
      }
    } 
  },

  methods: {
    getUserInfo () {
      axios
        .get(`http://localhost:3000/usuarios/${this.user.id}`)
        .then(resp => { this.user.type = resp.data })
      
      const type = this.user.type.toLowerCase()
    }
  },

  beforeMount () {
    this.getUserInfo()
  }
}
</script>