<template>
  <div class="home-description">
    <p class="text">Bem vindo ao <b style="margin-left: 6px">ExploraUsp!</b></p>
    <p class="subtext">
      Esta é uma plataforma para consulta livre de currículos, trilhas, módulos, disciplinas e seus oferecimentos.
    </p>
    <p class="subtext">
      Você também pode criar uma conta para alunos, professores, coordenadores ou administradores e desfrutar de várias outras funcionalidades. 
    </p>
    <router-link to="explorar">Explorar a USP</router-link>
  </div>
</template>

<style lang="scss">
.home-description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 40px 20%;
  background: #FFBE0B;

  & > p {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    text-align: center;
  }

  & > .subtext { margin-top: 20px }

  & > a {
    margin-top: 40px;
    padding: 12px;
    border-radius: 8px;
    background: #FB4D3D;
    color: #3D120E;
    font-weight: bold;
  }
}
</style>
