<template>
  <div class="home-list">
    <div class="item">
      <img src="../../assets/icons/graduation.svg" alt="Ícone de aluno" class="icon">

      <p class="text">
        Com uma conta aluno, é possível planejar e acompanhar a sua evolução no curso.
      </p>
    </div>
  </div>
</template>

<style lang="scss">
.home-list {
  height: 100%;
  padding: 40px;
  background: #17BEBB;

  & > .item {
    display: flex;
    align-items: center;
    height: 110px;
    padding: 20px;
    border-radius: 75px;
    background: #F3F3F3;

    & > .icon { height: 110px }

    & > .text {
      display: flex;
      align-items: center;
      height: 100%;
      margin-left: 20px;
      margin-right: 100px;
    }
  }
}
</style>
