<template>
  <form class="usp-form" @submit.prevent="submit">
    <div v-for="(field, name) in fields" :key="name" class="field">
      <p class="label">{{ field.label }}</p>
      <input
        class="input"
        :type="field.type"
        :name="field.name"
        v-model="field.value"
      >
    </div>

    <input
      class="btn"
      type="submit"
      :value="buttonText"
    >

    <options v-if="options" :options="options" />
  </form>
</template>

<script>
import Options from '@components/Options'

export default {
  components: { Options },

  props: {
    fields: Object,
    buttonText: String,
    options: Object
  },

  methods: {
    submit () {
      const values = Object.keys(this.fields).reduce((acc, name) => ({
        ...acc,
        [name]: this.fields[name].value
      }), {})

      this.$emit('submit', values)
    }
  }
}
</script>

<style lang="scss">
.usp-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 80px;

  & > .field {
    margin-bottom: 20px;

    & > .label {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
}
</style>
