<template>
  <div class="home-header">
    <p class="title">ExploraUsp</p>
    <div class="login">
      <router-link to="entrar">Entrar</router-link>
      <router-link to="cadastro">Cadastro</router-link>
    </div>
  </div>
</template>

<style lang="scss">
.home-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px 20px;
  background: #F3F3F3;

  & > .title {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
  }

  & > .login > a:first-child { margin-right: 20px }
}
</style>
