<template>
  <div class="login-options">
    <router-link
      v-for="(option, name) in options"
      :key="name"
      :to="option.path"
    >
      {{ option.content }}
    </router-link>
  </div>
</template>

<script>
import Options from '@content/login/Options'

export default {
  props: {
    options: Object
  },

  computed: {
    loginOption () {
      if (this.$route.name === 'signin')
        return Options.signup
      return Options.signin
    },
    homeOption () {
      return Options.home
    }
  }
}
</script>

<style lang="scss">
.login-options {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 20px;

  & > a {
    margin-top: 10px;
  }
}
</style>

