<template>
  <div class="request">
    <div class="title">{{ title }}</div>

    <button class="btn" @click="makeRequest">
      Fazer request
    </button>

    <div v-if="error" style="color: red">Erro ao pegar os dados</div>

    <div
      v-else
      v-for="res in result"
      :key="res.id_usuario"
      class="result"
    >
      <span v-for="(val, name) in res" :key="`${val}-${res}`">
        {{ name.toUpperCase() }}: {{ val }}
      </span>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  props: {
    title: String,
    path: String
  },

  data () {
    return {
      result: '',
      error: false
    }
  },

  methods: {
    async makeRequest (type) {
      await axios
        .get(`http://localhost:3000/${this.path}`)
        .then(data => {
          this.result = data.data
        })
        .catch(error => {
          console.log({ error })
          this.error = true
        })
    }
  }
}
</script>

<style lang="scss">
.request {
  display: flex;
  flex-flow: column nowrap;
  padding: 5px;

  & > .title {
    font-size: 18px;
  }

  & > .btn {
    max-width: 200px;
    margin: 10px 0;
  }
  
  & > .result {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 10px;
    font-size: 14px;
  }
}
</style>
