<template>
  <div class="explore-list">
    <ul class="list">
      <li
        v-for="item in list"
        :key="item.nome"
        class="item"
        @click="$emit('get', item.id)"
      >
        <button>{{ item.sigla }} {{ item.nome }}</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    list: Array
  }
}
</script>

<style lang="scss">
.explore-list {
  padding: 10px;
  & > .list {
    list-style-type: none;

    & > .item {
      padding-bottom: 20px;

      & > button { text-align: start }
    }
  }
}
</style>
