<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style lang="scss">
body, p, li, ul, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

body, #app {
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  
  &:link { color:inherit }
  &:active { color:inherit }
  &:visited { color:inherit }
  &:hover { color:inherit }
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
</style>
